server:
  port: 8083

spring:
  application:
    name: statistic-service

eureka:
  client:
    service-url:
      defaultZone: ${EUREKA_SERVER:http://localhost:8761/eureka/}

feign:
  client:
    config:
      default:
        connectTimeout: 5000
        readTimeout: 5000